
.vxe-modal--wrapper {
  &.is--visible {
    .vxe-modal--box {
      width: $app-model-box-width;
    }
  }
  .vxe-modal--header {
    padding: .5em 1em;
  }
  
  .vxe-modal--footer {
    button {
      height: 2em;
    }
  }
}