@import '@style/variable.scss';

.app-container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .container-main {
    flex: 1;
    overflow: auto;
  }

  .container-footer {
    height: 50px;
  }
}

.app-font-color-1 {
  color: $app-main-font-color1;
  font-size: .9em;
  text-align: left;
  padding-left: $app-length-row;
}

.app-data-item{
  margin: $app-length-row/4 $app-length-row/2;
  padding: $app-length-row/4;
  border: $app-color-border-msg 2px solid;
  border-radius: $app-length-row/4;
  background-color: $app-color-white;
}