
.app-container {

  height: 100%;

  .container-header {
    background-color: $app-color-bar-back;
    display: flex;

    .info {
      width: 2 * $app-length-row;
      border: $app-color-border-button1 1px solid;
      border-radius: $app-length-row / 2;
    }

    .title {
      flex: 1;
    }
  }

  .container-main {
    height: calc(100vh - 80px);
    overflow: auto;
  }

  .container-footer {
    display: flex;
    .item {
      flex:1;
      margin: 0;
      border: $app-color-border-button1 1px solid;
      background-color: $app-color-bar-back;
      border-radius: 10px;
    }
  }
}