
.login-form1 {
  height: 100%;
  background: url('@img/01.jpg');
  .van-form {
    position: absolute;
    width: 100%;
    margin-top: 30vh;
    border-radius: 20px;
    background-color: $app-color-7-back;
    // border: 2px solid red;
  }
}