
.app-messager{
  width: 100%;
  height: 100%;
  overflow: auto;

  .msg-item{
    margin: $app-length-row/2;
    padding: $app-length-row/4;
    border: $app-color-border-msg 2px solid;
    border-radius: $app-length-row/4;
    background-color: $app-color-white;
  }

  .msg-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
  }

  .msg-content {
    text-indent: 2em;
    font-size: 1em;
  }
}