// back color
$app-font-family:-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$app-main-back-color:#F5F5F5;
$app-color-white: rgba(255,255,255,1);
$app-color-border-msg:$app-color-white;
$app-main-font-color1:#ccc;

$app-color-link-base:  #409eff;
$app-color-link-active: #e6a23c;
$app-color-link-hover: #f56c6c;

// length
$app-length-row:40px;

$app-color-fiance-num: #f00;
$app-color-fiance-weight: 900;
$app-color-fiance-margine: 0;
$app-font-fiance-integer: 1em;
$app-font-fiance-currency: .7em;
$app-font-fiance-decimal: .7em;

$page-search-height:30px;