
.app-container {
  $length-bar: 40px;

  height: 100%;

  .container-header {
    background-color: $color-navajo-white;
    height: $length-bar;
    line-height: $length-bar;
    display: flex;
    div {
      text-align: center;
    }

    .info {
      width: 2 * $length-bar;
      border: $color-floral-white 1px solid;
      border-radius: 20px;
    }

    .title {
      flex: 1;
    }
  }

  .container-main {
    height: calc(100vh - 80px);
    overflow: auto;
    background-color: $color-floral-white;
  }

  .container-footer {
    background-color: $color-navajo-white;
    height: $length-bar;
    line-height: $length-bar;
  }

  .app-container-one-row {
    height: calc(100% - 40px);
  }
}