// back color
$app-font-family:-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$app-main-back-color:#F5F5F5;
$app-color-white: rgba(255,255,255,1);
$app-color-border-msg:$app-color-white;

$app-color-link-base:  #409eff;
$app-color-link-active: #e6a23c;
$app-color-link-hover: #f56c6c;

// length
$app-length-row:40px;