
@import '@style/variable.scss';
.app-messager{
  width: 100%;
  height: 100%;
  overflow: auto;

  .msg-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
  }

  .msg-content {
    text-indent: 2em;
    font-size: 1em;
  }
}